@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
.section {
  margin-top: 150px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .login-form {
    padding: 80px;
  }
}
@media screen and (max-width: 1279px) {
  .login-form {
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .login-form {
    padding: 25px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .form-container {
    width: 60%;
  }
}
@media screen and (max-width: 1279px) {
  .form-container {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .form-container {
    width: 100%;
  }
}

.form-title {
  padding-bottom: 20px;
}

.warning {
  display: block;
  font-size: 12px;
}

.warning-account {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.warning-pass {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  bottom: 0;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 50px;
  }
}

.footer-list:not(:first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer-copy {
    font-size: 12px;
  }
}